header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem 5%;
    align-items: center;
    background-color: #F5F5F5;


}

@media (min-width: 580px) {
    header {
        flex-direction: row;
    }

}

.inputBox {
    border: 2px solid #E0E0E0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    padding: 0 0.5rem;
    min-width: 250px;
    max-width: 100%;
}


.inputSearch {
    border: none;
    height: 100%;
    outline: none;
    font-size: 16px;
    transition: all 0.5s;
    width: 100%;
}